.mag-component-value-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3 solid grey;
    text-align: center;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .mag-component-value-list.hidden {
        display: none; }
    .mag-component-value-list.focus {
        outline: 1px dashed red; }
