.mag-component-value-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid grey;
    text-align: center; }
    .mag-component-value-list.hidden {
        display: none; }
